[submodule "WSCS4b_line"]
	path = WSCS4b_line
	url = https://github.com/Yuluuuuan/WSCS4b_line.git
[submodule "WSCS4b_map"]
	path = WSCS4b_map
	url = https://github.com/Yuluuuuan/WSCS4b_map.git
[submodule "WSCS4b_process"]
	path = WSCS4b_process
	url = https://github.com/Yuluuuuan/WSCS4b_process.git
[submodule "WSCS4b_predict"]
	path = WSCS4b_predict
	url = https://github.com/Yuluuuuan/WSCS4b_predict.git
[submodule "WSCS4b_extract"]
	path = WSCS4b_extract
	url = https://github.com/Yuluuuuan/WSCS4b_extract.git
